mxnet==1.5.0
setuptools
gluoncv

numpy
matplotlib
itsdangerous
Jinja2
MarkupSafe
Werkzeug
pathlib
seaborn
SpeechRecognition

gunicorn web
pydub
gTTS
IPython
transformers
streamlit
open_clip_torch
huggingface_hub
torch
torchvision


