mxnet==1.5.0
setuptools
gluoncv
streamlit
numpy
matplotlib
itsdangerous
Jinja2
MarkupSafe
Werkzeug
pathlib
seaborn
SpeechRecognition

gunicorn 


pydub
gTTS
IPython
transformers

open_clip_torch
huggingface_hub
torch
torchvision


